.course-item_container {
    width: 100%;
    .course-item {
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        width: 100%;
        height: 240px;
        img {
            margin-right: 0px;
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
        .point {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1;
            border-radius: 5px;
            background: rgba(12, 27, 54, 0.8);
            border: 1px solid #1f2e46;
            padding: 2px;
            width: 56px;
            height: 39px;
            p {
                margin-bottom: 5px;
                font-size: 18px;
                color: white;
                font-weight: 500;
            }
            span {
                font-size: 10px;
            }
            .loading {
                > span {
                    > span {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .loading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            span {
                line-height: 2;
            }
        }
    }
    .course-item_detail {
        position: relative;
        .courseName {
            font-size: 16px;
            height: 35px;
            max-height: 42px;
            font-family: sans-serif;
            line-height: 22px;
            margin-bottom: 0;
            overflow: hidden;
            font-weight: bold;
            opacity: 1;
            transition: all 0.2s;
        }
        .coursePrice {
            font-size: 16px;
            height: 42px;
            max-height: 42px;
            font-family: sans-serif;
            line-height: 22px;
            margin-bottom: 0;
            overflow: hidden;
            font-weight: bold;
            opacity: 1;
            transition: all 0.2s;
        }
        .btn_viewDetail {
            .btn {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                font-size: 18px;
                color: #fff;
                background-color: #fb4226;
                transition: all 0.2s;
                &:hover {
                    background-color: #ef3d22;
                }
                &.loading {
                    background-color: none;
                    width: 100%;
                    padding: 0;
                    span {
                        line-height: 2;
                    }
                }
            }
        }
    }
    &:hover {
        .course-item {
            cursor: pointer;
        }
        .course-item_detail {
            .courseName {
                opacity: 0;
            }
            .coursePrice {
                opacity: 0;
            }
            .btn_viewDetail {
                .btn {
                    opacity: 1;
                }
            }
        }
    }
}
